{% extends 'base.html.twig' %}

{% block title %}Financial report{% endblock %}

{% block body %}
        <h4 style="margin-bottom: 1em;">Parsing Log:</h4>
        <div>
            {% if date_errors %}
                <ul>
                    {% for error in date_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No errors</p>
            {% endif %}
        </div>
        <h2 style="margin-bottom: 1em;">
            Financial report
        </h2>
        <div>
            <h4>By countries:</h4>
            {% if data_by_country %}
                <ul>
                    {% for name, profit in data_by_country %}
                        <li>{{ name }}: $ {{ profit }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No countries</p>
            {% endif %}
        </div>
        <div>
            <h4>By segment:</h4>
            {% if data_by_segment %}
                <ul>
                    {% for name, profit in data_by_segment %}
                        <li>{{ name }}: $ {{ profit }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No countries</p>
            {% endif %}
        </div>
{% endblock %}
